<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>airplane</th>
      <th>automobile</th>
      <th>bird</th>
      <th>cat</th>
      <th>deer</th>
      <th>dog</th>
      <th>frog</th>
      <th>horse</th>
      <th>ship</th>
      <th>truck</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>airplane</th>
      <td>795</td>
      <td>13</td>
      <td>34</td>
      <td>4</td>
      <td>20</td>
      <td>2</td>
      <td>20</td>
      <td>8</td>
      <td>82</td>
      <td>22</td>
    </tr>
    <tr>
      <th>automobile</th>
      <td>10</td>
      <td>908</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>13</td>
      <td>0</td>
      <td>10</td>
      <td>54</td>
    </tr>
    <tr>
      <th>bird</th>
      <td>59</td>
      <td>6</td>
      <td>658</td>
      <td>15</td>
      <td>59</td>
      <td>21</td>
      <td>154</td>
      <td>13</td>
      <td>9</td>
      <td>6</td>
    </tr>
    <tr>
      <th>cat</th>
      <td>19</td>
      <td>14</td>
      <td>88</td>
      <td>376</td>
      <td>84</td>
      <td>97</td>
      <td>253</td>
      <td>29</td>
      <td>26</td>
      <td>14</td>
    </tr>
    <tr>
      <th>deer</th>
      <td>10</td>
      <td>2</td>
      <td>60</td>
      <td>7</td>
      <td>711</td>
      <td>6</td>
      <td>177</td>
      <td>13</td>
      <td>13</td>
      <td>1</td>
    </tr>
    <tr>
      <th>dog</th>
      <td>13</td>
      <td>10</td>
      <td>71</td>
      <td>96</td>
      <td>66</td>
      <td>560</td>
      <td>149</td>
      <td>27</td>
      <td>7</td>
      <td>1</td>
    </tr>
    <tr>
      <th>frog</th>
      <td>6</td>
      <td>0</td>
      <td>18</td>
      <td>3</td>
      <td>9</td>
      <td>1</td>
      <td>957</td>
      <td>3</td>
      <td>3</td>
      <td>0</td>
    </tr>
    <tr>
      <th>horse</th>
      <td>12</td>
      <td>2</td>
      <td>39</td>
      <td>17</td>
      <td>90</td>
      <td>25</td>
      <td>54</td>
      <td>748</td>
      <td>4</td>
      <td>9</td>
    </tr>
    <tr>
      <th>ship</th>
      <td>53</td>
      <td>19</td>
      <td>9</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>14</td>
      <td>0</td>
      <td>884</td>
      <td>16</td>
    </tr>
    <tr>
      <th>truck</th>
      <td>17</td>
      <td>71</td>
      <td>9</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>32</td>
      <td>2</td>
      <td>34</td>
      <td>828</td>
    </tr>
  </tbody>
</table>