<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>airplane</th>
      <th>automobile</th>
      <th>bird</th>
      <th>cat</th>
      <th>deer</th>
      <th>dog</th>
      <th>frog</th>
      <th>horse</th>
      <th>ship</th>
      <th>truck</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>airplane</th>
      <td>789</td>
      <td>10</td>
      <td>37</td>
      <td>22</td>
      <td>17</td>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>75</td>
      <td>37</td>
    </tr>
    <tr>
      <th>automobile</th>
      <td>16</td>
      <td>863</td>
      <td>0</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>9</td>
      <td>1</td>
      <td>36</td>
      <td>63</td>
    </tr>
    <tr>
      <th>bird</th>
      <td>61</td>
      <td>4</td>
      <td>643</td>
      <td>82</td>
      <td>69</td>
      <td>41</td>
      <td>54</td>
      <td>18</td>
      <td>15</td>
      <td>13</td>
    </tr>
    <tr>
      <th>cat</th>
      <td>21</td>
      <td>9</td>
      <td>65</td>
      <td>636</td>
      <td>51</td>
      <td>113</td>
      <td>44</td>
      <td>26</td>
      <td>23</td>
      <td>12</td>
    </tr>
    <tr>
      <th>deer</th>
      <td>20</td>
      <td>3</td>
      <td>63</td>
      <td>71</td>
      <td>746</td>
      <td>20</td>
      <td>37</td>
      <td>31</td>
      <td>6</td>
      <td>3</td>
    </tr>
    <tr>
      <th>dog</th>
      <td>8</td>
      <td>3</td>
      <td>45</td>
      <td>215</td>
      <td>52</td>
      <td>615</td>
      <td>17</td>
      <td>33</td>
      <td>4</td>
      <td>8</td>
    </tr>
    <tr>
      <th>frog</th>
      <td>9</td>
      <td>2</td>
      <td>22</td>
      <td>79</td>
      <td>32</td>
      <td>12</td>
      <td>831</td>
      <td>3</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>horse</th>
      <td>15</td>
      <td>1</td>
      <td>35</td>
      <td>60</td>
      <td>81</td>
      <td>40</td>
      <td>11</td>
      <td>742</td>
      <td>3</td>
      <td>12</td>
    </tr>
    <tr>
      <th>ship</th>
      <td>56</td>
      <td>11</td>
      <td>9</td>
      <td>14</td>
      <td>3</td>
      <td>7</td>
      <td>9</td>
      <td>4</td>
      <td>870</td>
      <td>17</td>
    </tr>
    <tr>
      <th>truck</th>
      <td>41</td>
      <td>61</td>
      <td>5</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>10</td>
      <td>6</td>
      <td>40</td>
      <td>820</td>
    </tr>
  </tbody>
</table>