<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>airplane</th>
      <th>automobile</th>
      <th>bird</th>
      <th>cat</th>
      <th>deer</th>
      <th>dog</th>
      <th>frog</th>
      <th>horse</th>
      <th>ship</th>
      <th>truck</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>airplane</th>
      <td>834</td>
      <td>12</td>
      <td>21</td>
      <td>8</td>
      <td>23</td>
      <td>1</td>
      <td>19</td>
      <td>4</td>
      <td>58</td>
      <td>20</td>
    </tr>
    <tr>
      <th>automobile</th>
      <td>7</td>
      <td>871</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>0</td>
      <td>20</td>
      <td>1</td>
      <td>29</td>
      <td>65</td>
    </tr>
    <tr>
      <th>bird</th>
      <td>36</td>
      <td>0</td>
      <td>721</td>
      <td>30</td>
      <td>65</td>
      <td>22</td>
      <td>110</td>
      <td>10</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>cat</th>
      <td>9</td>
      <td>1</td>
      <td>41</td>
      <td>649</td>
      <td>80</td>
      <td>64</td>
      <td>121</td>
      <td>15</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>deer</th>
      <td>4</td>
      <td>0</td>
      <td>18</td>
      <td>24</td>
      <td>850</td>
      <td>1</td>
      <td>87</td>
      <td>9</td>
      <td>6</td>
      <td>1</td>
    </tr>
    <tr>
      <th>dog</th>
      <td>4</td>
      <td>1</td>
      <td>25</td>
      <td>144</td>
      <td>65</td>
      <td>634</td>
      <td>93</td>
      <td>27</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>frog</th>
      <td>4</td>
      <td>0</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>1</td>
      <td>964</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>horse</th>
      <td>8</td>
      <td>2</td>
      <td>10</td>
      <td>43</td>
      <td>86</td>
      <td>19</td>
      <td>31</td>
      <td>794</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>ship</th>
      <td>23</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>11</td>
      <td>0</td>
      <td>938</td>
      <td>14</td>
    </tr>
    <tr>
      <th>truck</th>
      <td>18</td>
      <td>20</td>
      <td>6</td>
      <td>6</td>
      <td>3</td>
      <td>3</td>
      <td>12</td>
      <td>3</td>
      <td>41</td>
      <td>888</td>
    </tr>
  </tbody>
</table>