<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>airplane</th>
      <th>automobile</th>
      <th>bird</th>
      <th>cat</th>
      <th>deer</th>
      <th>dog</th>
      <th>frog</th>
      <th>horse</th>
      <th>ship</th>
      <th>truck</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>airplane</th>
      <td>855</td>
      <td>16</td>
      <td>36</td>
      <td>4</td>
      <td>5</td>
      <td>0</td>
      <td>8</td>
      <td>2</td>
      <td>59</td>
      <td>15</td>
    </tr>
    <tr>
      <th>automobile</th>
      <td>15</td>
      <td>919</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td>0</td>
      <td>24</td>
      <td>25</td>
    </tr>
    <tr>
      <th>bird</th>
      <td>61</td>
      <td>1</td>
      <td>755</td>
      <td>19</td>
      <td>55</td>
      <td>15</td>
      <td>68</td>
      <td>5</td>
      <td>18</td>
      <td>3</td>
    </tr>
    <tr>
      <th>cat</th>
      <td>34</td>
      <td>13</td>
      <td>96</td>
      <td>530</td>
      <td>55</td>
      <td>74</td>
      <td>140</td>
      <td>19</td>
      <td>29</td>
      <td>10</td>
    </tr>
    <tr>
      <th>deer</th>
      <td>23</td>
      <td>3</td>
      <td>66</td>
      <td>30</td>
      <td>743</td>
      <td>7</td>
      <td>96</td>
      <td>23</td>
      <td>9</td>
      <td>0</td>
    </tr>
    <tr>
      <th>dog</th>
      <td>19</td>
      <td>5</td>
      <td>78</td>
      <td>132</td>
      <td>55</td>
      <td>605</td>
      <td>68</td>
      <td>22</td>
      <td>11</td>
      <td>5</td>
    </tr>
    <tr>
      <th>frog</th>
      <td>6</td>
      <td>1</td>
      <td>37</td>
      <td>14</td>
      <td>14</td>
      <td>1</td>
      <td>919</td>
      <td>0</td>
      <td>7</td>
      <td>1</td>
    </tr>
    <tr>
      <th>horse</th>
      <td>32</td>
      <td>6</td>
      <td>38</td>
      <td>28</td>
      <td>64</td>
      <td>38</td>
      <td>34</td>
      <td>744</td>
      <td>3</td>
      <td>13</td>
    </tr>
    <tr>
      <th>ship</th>
      <td>45</td>
      <td>22</td>
      <td>8</td>
      <td>3</td>
      <td>2</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>906</td>
      <td>8</td>
    </tr>
    <tr>
      <th>truck</th>
      <td>33</td>
      <td>95</td>
      <td>6</td>
      <td>4</td>
      <td>7</td>
      <td>1</td>
      <td>15</td>
      <td>3</td>
      <td>38</td>
      <td>798</td>
    </tr>
  </tbody>
</table>