<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>airplane</th>
      <th>automobile</th>
      <th>bird</th>
      <th>cat</th>
      <th>deer</th>
      <th>dog</th>
      <th>frog</th>
      <th>horse</th>
      <th>ship</th>
      <th>truck</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>airplane</th>
      <td>841</td>
      <td>9</td>
      <td>11</td>
      <td>5</td>
      <td>12</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
      <td>97</td>
      <td>20</td>
    </tr>
    <tr>
      <th>automobile</th>
      <td>3</td>
      <td>963</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>7</td>
      <td>26</td>
    </tr>
    <tr>
      <th>bird</th>
      <td>38</td>
      <td>2</td>
      <td>764</td>
      <td>33</td>
      <td>43</td>
      <td>16</td>
      <td>75</td>
      <td>6</td>
      <td>7</td>
      <td>16</td>
    </tr>
    <tr>
      <th>cat</th>
      <td>11</td>
      <td>4</td>
      <td>9</td>
      <td>759</td>
      <td>41</td>
      <td>36</td>
      <td>81</td>
      <td>18</td>
      <td>24</td>
      <td>17</td>
    </tr>
    <tr>
      <th>deer</th>
      <td>4</td>
      <td>1</td>
      <td>6</td>
      <td>16</td>
      <td>896</td>
      <td>2</td>
      <td>50</td>
      <td>19</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>dog</th>
      <td>4</td>
      <td>5</td>
      <td>9</td>
      <td>144</td>
      <td>46</td>
      <td>688</td>
      <td>45</td>
      <td>36</td>
      <td>10</td>
      <td>13</td>
    </tr>
    <tr>
      <th>frog</th>
      <td>7</td>
      <td>3</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>0</td>
      <td>966</td>
      <td>0</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>horse</th>
      <td>8</td>
      <td>2</td>
      <td>6</td>
      <td>20</td>
      <td>40</td>
      <td>4</td>
      <td>14</td>
      <td>898</td>
      <td>2</td>
      <td>6</td>
    </tr>
    <tr>
      <th>ship</th>
      <td>9</td>
      <td>9</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>4</td>
      <td>0</td>
      <td>960</td>
      <td>14</td>
    </tr>
    <tr>
      <th>truck</th>
      <td>6</td>
      <td>35</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>19</td>
      <td>935</td>
    </tr>
  </tbody>
</table>