<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>airplane</th>
      <th>automobile</th>
      <th>bird</th>
      <th>cat</th>
      <th>deer</th>
      <th>dog</th>
      <th>frog</th>
      <th>horse</th>
      <th>ship</th>
      <th>truck</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>airplane</th>
      <td>758</td>
      <td>8</td>
      <td>84</td>
      <td>16</td>
      <td>13</td>
      <td>6</td>
      <td>18</td>
      <td>5</td>
      <td>74</td>
      <td>18</td>
    </tr>
    <tr>
      <th>automobile</th>
      <td>24</td>
      <td>814</td>
      <td>22</td>
      <td>14</td>
      <td>3</td>
      <td>5</td>
      <td>27</td>
      <td>1</td>
      <td>26</td>
      <td>64</td>
    </tr>
    <tr>
      <th>bird</th>
      <td>28</td>
      <td>1</td>
      <td>785</td>
      <td>26</td>
      <td>55</td>
      <td>28</td>
      <td>56</td>
      <td>8</td>
      <td>12</td>
      <td>1</td>
    </tr>
    <tr>
      <th>cat</th>
      <td>17</td>
      <td>0</td>
      <td>133</td>
      <td>547</td>
      <td>69</td>
      <td>99</td>
      <td>103</td>
      <td>15</td>
      <td>11</td>
      <td>6</td>
    </tr>
    <tr>
      <th>deer</th>
      <td>14</td>
      <td>0</td>
      <td>123</td>
      <td>34</td>
      <td>728</td>
      <td>15</td>
      <td>57</td>
      <td>20</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <th>dog</th>
      <td>9</td>
      <td>1</td>
      <td>116</td>
      <td>183</td>
      <td>61</td>
      <td>554</td>
      <td>43</td>
      <td>22</td>
      <td>8</td>
      <td>3</td>
    </tr>
    <tr>
      <th>frog</th>
      <td>2</td>
      <td>0</td>
      <td>81</td>
      <td>45</td>
      <td>18</td>
      <td>4</td>
      <td>844</td>
      <td>1</td>
      <td>5</td>
      <td>0</td>
    </tr>
    <tr>
      <th>horse</th>
      <td>12</td>
      <td>0</td>
      <td>61</td>
      <td>49</td>
      <td>90</td>
      <td>49</td>
      <td>18</td>
      <td>710</td>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <th>ship</th>
      <td>54</td>
      <td>17</td>
      <td>24</td>
      <td>18</td>
      <td>6</td>
      <td>2</td>
      <td>5</td>
      <td>0</td>
      <td>854</td>
      <td>20</td>
    </tr>
    <tr>
      <th>truck</th>
      <td>27</td>
      <td>49</td>
      <td>20</td>
      <td>27</td>
      <td>11</td>
      <td>13</td>
      <td>19</td>
      <td>5</td>
      <td>32</td>
      <td>797</td>
    </tr>
  </tbody>
</table>