<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>airplane</th>
      <th>automobile</th>
      <th>bird</th>
      <th>cat</th>
      <th>deer</th>
      <th>dog</th>
      <th>frog</th>
      <th>horse</th>
      <th>ship</th>
      <th>truck</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>airplane</th>
      <td>815</td>
      <td>17</td>
      <td>46</td>
      <td>12</td>
      <td>19</td>
      <td>8</td>
      <td>8</td>
      <td>15</td>
      <td>36</td>
      <td>24</td>
    </tr>
    <tr>
      <th>automobile</th>
      <td>32</td>
      <td>849</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>3</td>
      <td>9</td>
      <td>0</td>
      <td>11</td>
      <td>76</td>
    </tr>
    <tr>
      <th>bird</th>
      <td>73</td>
      <td>4</td>
      <td>591</td>
      <td>42</td>
      <td>78</td>
      <td>89</td>
      <td>78</td>
      <td>27</td>
      <td>6</td>
      <td>12</td>
    </tr>
    <tr>
      <th>cat</th>
      <td>31</td>
      <td>11</td>
      <td>69</td>
      <td>435</td>
      <td>67</td>
      <td>238</td>
      <td>86</td>
      <td>27</td>
      <td>15</td>
      <td>21</td>
    </tr>
    <tr>
      <th>deer</th>
      <td>25</td>
      <td>6</td>
      <td>73</td>
      <td>40</td>
      <td>700</td>
      <td>40</td>
      <td>65</td>
      <td>39</td>
      <td>8</td>
      <td>4</td>
    </tr>
    <tr>
      <th>dog</th>
      <td>15</td>
      <td>2</td>
      <td>64</td>
      <td>82</td>
      <td>50</td>
      <td>707</td>
      <td>31</td>
      <td>40</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>frog</th>
      <td>7</td>
      <td>13</td>
      <td>44</td>
      <td>36</td>
      <td>31</td>
      <td>34</td>
      <td>817</td>
      <td>5</td>
      <td>9</td>
      <td>4</td>
    </tr>
    <tr>
      <th>horse</th>
      <td>28</td>
      <td>4</td>
      <td>39</td>
      <td>32</td>
      <td>84</td>
      <td>78</td>
      <td>6</td>
      <td>713</td>
      <td>1</td>
      <td>15</td>
    </tr>
    <tr>
      <th>ship</th>
      <td>161</td>
      <td>46</td>
      <td>7</td>
      <td>10</td>
      <td>11</td>
      <td>4</td>
      <td>6</td>
      <td>7</td>
      <td>724</td>
      <td>24</td>
    </tr>
    <tr>
      <th>truck</th>
      <td>58</td>
      <td>72</td>
      <td>7</td>
      <td>17</td>
      <td>6</td>
      <td>13</td>
      <td>10</td>
      <td>12</td>
      <td>16</td>
      <td>789</td>
    </tr>
  </tbody>
</table>