<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>airplane</th>
      <th>automobile</th>
      <th>bird</th>
      <th>cat</th>
      <th>deer</th>
      <th>dog</th>
      <th>frog</th>
      <th>horse</th>
      <th>ship</th>
      <th>truck</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>airplane</th>
      <td>804</td>
      <td>15</td>
      <td>48</td>
      <td>5</td>
      <td>24</td>
      <td>2</td>
      <td>20</td>
      <td>8</td>
      <td>39</td>
      <td>35</td>
    </tr>
    <tr>
      <th>automobile</th>
      <td>22</td>
      <td>878</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>0</td>
      <td>8</td>
      <td>1</td>
      <td>9</td>
      <td>74</td>
    </tr>
    <tr>
      <th>bird</th>
      <td>69</td>
      <td>6</td>
      <td>596</td>
      <td>35</td>
      <td>103</td>
      <td>8</td>
      <td>149</td>
      <td>22</td>
      <td>1</td>
      <td>11</td>
    </tr>
    <tr>
      <th>cat</th>
      <td>23</td>
      <td>8</td>
      <td>55</td>
      <td>543</td>
      <td>97</td>
      <td>55</td>
      <td>171</td>
      <td>15</td>
      <td>10</td>
      <td>23</td>
    </tr>
    <tr>
      <th>deer</th>
      <td>15</td>
      <td>1</td>
      <td>28</td>
      <td>12</td>
      <td>819</td>
      <td>2</td>
      <td>94</td>
      <td>22</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>dog</th>
      <td>11</td>
      <td>6</td>
      <td>46</td>
      <td>232</td>
      <td>81</td>
      <td>457</td>
      <td>104</td>
      <td>53</td>
      <td>3</td>
      <td>7</td>
    </tr>
    <tr>
      <th>frog</th>
      <td>8</td>
      <td>1</td>
      <td>29</td>
      <td>22</td>
      <td>18</td>
      <td>0</td>
      <td>917</td>
      <td>3</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>horse</th>
      <td>16</td>
      <td>4</td>
      <td>36</td>
      <td>32</td>
      <td>105</td>
      <td>19</td>
      <td>39</td>
      <td>738</td>
      <td>0</td>
      <td>11</td>
    </tr>
    <tr>
      <th>ship</th>
      <td>70</td>
      <td>28</td>
      <td>18</td>
      <td>6</td>
      <td>9</td>
      <td>0</td>
      <td>17</td>
      <td>1</td>
      <td>798</td>
      <td>53</td>
    </tr>
    <tr>
      <th>truck</th>
      <td>24</td>
      <td>51</td>
      <td>2</td>
      <td>8</td>
      <td>3</td>
      <td>0</td>
      <td>14</td>
      <td>4</td>
      <td>11</td>
      <td>883</td>
    </tr>
  </tbody>
</table>