<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>airplane</th>
      <th>automobile</th>
      <th>bird</th>
      <th>cat</th>
      <th>deer</th>
      <th>dog</th>
      <th>frog</th>
      <th>horse</th>
      <th>ship</th>
      <th>truck</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>airplane</th>
      <td>775</td>
      <td>12</td>
      <td>55</td>
      <td>3</td>
      <td>17</td>
      <td>2</td>
      <td>18</td>
      <td>6</td>
      <td>87</td>
      <td>25</td>
    </tr>
    <tr>
      <th>automobile</th>
      <td>10</td>
      <td>875</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>31</td>
      <td>0</td>
      <td>25</td>
      <td>55</td>
    </tr>
    <tr>
      <th>bird</th>
      <td>43</td>
      <td>1</td>
      <td>682</td>
      <td>6</td>
      <td>51</td>
      <td>41</td>
      <td>149</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
    </tr>
    <tr>
      <th>cat</th>
      <td>28</td>
      <td>4</td>
      <td>90</td>
      <td>326</td>
      <td>73</td>
      <td>127</td>
      <td>302</td>
      <td>16</td>
      <td>17</td>
      <td>17</td>
    </tr>
    <tr>
      <th>deer</th>
      <td>11</td>
      <td>0</td>
      <td>63</td>
      <td>3</td>
      <td>696</td>
      <td>9</td>
      <td>183</td>
      <td>26</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <th>dog</th>
      <td>12</td>
      <td>1</td>
      <td>60</td>
      <td>70</td>
      <td>56</td>
      <td>659</td>
      <td>105</td>
      <td>24</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>frog</th>
      <td>1</td>
      <td>0</td>
      <td>32</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>956</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>horse</th>
      <td>13</td>
      <td>1</td>
      <td>38</td>
      <td>6</td>
      <td>60</td>
      <td>44</td>
      <td>61</td>
      <td>762</td>
      <td>5</td>
      <td>10</td>
    </tr>
    <tr>
      <th>ship</th>
      <td>32</td>
      <td>7</td>
      <td>10</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>28</td>
      <td>0</td>
      <td>901</td>
      <td>16</td>
    </tr>
    <tr>
      <th>truck</th>
      <td>15</td>
      <td>37</td>
      <td>9</td>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>34</td>
      <td>6</td>
      <td>40</td>
      <td>856</td>
    </tr>
  </tbody>
</table>