<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>airplane</th>
      <th>automobile</th>
      <th>bird</th>
      <th>cat</th>
      <th>deer</th>
      <th>dog</th>
      <th>frog</th>
      <th>horse</th>
      <th>ship</th>
      <th>truck</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>airplane</th>
      <td>921</td>
      <td>6</td>
      <td>11</td>
      <td>9</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>5</td>
      <td>21</td>
      <td>23</td>
    </tr>
    <tr>
      <th>automobile</th>
      <td>3</td>
      <td>924</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>65</td>
    </tr>
    <tr>
      <th>bird</th>
      <td>54</td>
      <td>0</td>
      <td>794</td>
      <td>25</td>
      <td>29</td>
      <td>32</td>
      <td>43</td>
      <td>14</td>
      <td>2</td>
      <td>7</td>
    </tr>
    <tr>
      <th>cat</th>
      <td>22</td>
      <td>3</td>
      <td>18</td>
      <td>739</td>
      <td>22</td>
      <td>108</td>
      <td>43</td>
      <td>20</td>
      <td>7</td>
      <td>18</td>
    </tr>
    <tr>
      <th>deer</th>
      <td>9</td>
      <td>1</td>
      <td>15</td>
      <td>28</td>
      <td>896</td>
      <td>7</td>
      <td>21</td>
      <td>22</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>dog</th>
      <td>4</td>
      <td>1</td>
      <td>7</td>
      <td>80</td>
      <td>21</td>
      <td>830</td>
      <td>25</td>
      <td>21</td>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <th>frog</th>
      <td>5</td>
      <td>1</td>
      <td>10</td>
      <td>8</td>
      <td>3</td>
      <td>2</td>
      <td>962</td>
      <td>2</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>horse</th>
      <td>12</td>
      <td>0</td>
      <td>7</td>
      <td>9</td>
      <td>25</td>
      <td>14</td>
      <td>5</td>
      <td>922</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>ship</th>
      <td>44</td>
      <td>13</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>1</td>
      <td>903</td>
      <td>26</td>
    </tr>
    <tr>
      <th>truck</th>
      <td>7</td>
      <td>12</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>5</td>
      <td>970</td>
    </tr>
  </tbody>
</table>