<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>airplane</th>
      <th>automobile</th>
      <th>bird</th>
      <th>cat</th>
      <th>deer</th>
      <th>dog</th>
      <th>frog</th>
      <th>horse</th>
      <th>ship</th>
      <th>truck</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>airplane</th>
      <td>910</td>
      <td>11</td>
      <td>26</td>
      <td>5</td>
      <td>6</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>15</td>
      <td>18</td>
    </tr>
    <tr>
      <th>automobile</th>
      <td>11</td>
      <td>927</td>
      <td>2</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>5</td>
      <td>49</td>
    </tr>
    <tr>
      <th>bird</th>
      <td>35</td>
      <td>3</td>
      <td>839</td>
      <td>19</td>
      <td>27</td>
      <td>21</td>
      <td>22</td>
      <td>19</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>cat</th>
      <td>23</td>
      <td>8</td>
      <td>66</td>
      <td>672</td>
      <td>41</td>
      <td>88</td>
      <td>56</td>
      <td>28</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>deer</th>
      <td>10</td>
      <td>2</td>
      <td>57</td>
      <td>28</td>
      <td>811</td>
      <td>16</td>
      <td>25</td>
      <td>42</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>dog</th>
      <td>17</td>
      <td>4</td>
      <td>27</td>
      <td>128</td>
      <td>26</td>
      <td>722</td>
      <td>25</td>
      <td>38</td>
      <td>1</td>
      <td>12</td>
    </tr>
    <tr>
      <th>frog</th>
      <td>7</td>
      <td>5</td>
      <td>28</td>
      <td>24</td>
      <td>11</td>
      <td>4</td>
      <td>909</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>horse</th>
      <td>15</td>
      <td>4</td>
      <td>7</td>
      <td>15</td>
      <td>19</td>
      <td>23</td>
      <td>3</td>
      <td>907</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>ship</th>
      <td>74</td>
      <td>15</td>
      <td>3</td>
      <td>6</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>862</td>
      <td>34</td>
    </tr>
    <tr>
      <th>truck</th>
      <td>18</td>
      <td>34</td>
      <td>2</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3</td>
      <td>8</td>
      <td>929</td>
    </tr>
  </tbody>
</table>