<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>airplane</th>
      <th>automobile</th>
      <th>bird</th>
      <th>cat</th>
      <th>deer</th>
      <th>dog</th>
      <th>frog</th>
      <th>horse</th>
      <th>ship</th>
      <th>truck</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>airplane</th>
      <td>899</td>
      <td>14</td>
      <td>35</td>
      <td>2</td>
      <td>6</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
      <td>11</td>
      <td>28</td>
    </tr>
    <tr>
      <th>automobile</th>
      <td>2</td>
      <td>973</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>24</td>
    </tr>
    <tr>
      <th>bird</th>
      <td>20</td>
      <td>1</td>
      <td>899</td>
      <td>9</td>
      <td>19</td>
      <td>13</td>
      <td>13</td>
      <td>15</td>
      <td>1</td>
      <td>10</td>
    </tr>
    <tr>
      <th>cat</th>
      <td>17</td>
      <td>8</td>
      <td>65</td>
      <td>698</td>
      <td>41</td>
      <td>102</td>
      <td>25</td>
      <td>19</td>
      <td>3</td>
      <td>22</td>
    </tr>
    <tr>
      <th>deer</th>
      <td>1</td>
      <td>1</td>
      <td>29</td>
      <td>5</td>
      <td>919</td>
      <td>7</td>
      <td>16</td>
      <td>19</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>dog</th>
      <td>8</td>
      <td>5</td>
      <td>38</td>
      <td>45</td>
      <td>26</td>
      <td>838</td>
      <td>5</td>
      <td>29</td>
      <td>0</td>
      <td>6</td>
    </tr>
    <tr>
      <th>frog</th>
      <td>2</td>
      <td>4</td>
      <td>46</td>
      <td>16</td>
      <td>11</td>
      <td>5</td>
      <td>905</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
    </tr>
    <tr>
      <th>horse</th>
      <td>7</td>
      <td>0</td>
      <td>7</td>
      <td>4</td>
      <td>18</td>
      <td>9</td>
      <td>1</td>
      <td>950</td>
      <td>0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>ship</th>
      <td>44</td>
      <td>58</td>
      <td>12</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>4</td>
      <td>833</td>
      <td>46</td>
    </tr>
    <tr>
      <th>truck</th>
      <td>4</td>
      <td>55</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>938</td>
    </tr>
  </tbody>
</table>