<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>airplane</th>
      <th>automobile</th>
      <th>bird</th>
      <th>cat</th>
      <th>deer</th>
      <th>dog</th>
      <th>frog</th>
      <th>horse</th>
      <th>ship</th>
      <th>truck</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>airplane</th>
      <td>796</td>
      <td>37</td>
      <td>52</td>
      <td>1</td>
      <td>15</td>
      <td>7</td>
      <td>17</td>
      <td>12</td>
      <td>46</td>
      <td>17</td>
    </tr>
    <tr>
      <th>automobile</th>
      <td>12</td>
      <td>900</td>
      <td>6</td>
      <td>0</td>
      <td>8</td>
      <td>0</td>
      <td>16</td>
      <td>3</td>
      <td>17</td>
      <td>38</td>
    </tr>
    <tr>
      <th>bird</th>
      <td>75</td>
      <td>17</td>
      <td>579</td>
      <td>15</td>
      <td>116</td>
      <td>33</td>
      <td>103</td>
      <td>40</td>
      <td>9</td>
      <td>13</td>
    </tr>
    <tr>
      <th>cat</th>
      <td>39</td>
      <td>28</td>
      <td>133</td>
      <td>233</td>
      <td>146</td>
      <td>136</td>
      <td>197</td>
      <td>50</td>
      <td>26</td>
      <td>12</td>
    </tr>
    <tr>
      <th>deer</th>
      <td>28</td>
      <td>7</td>
      <td>75</td>
      <td>4</td>
      <td>697</td>
      <td>11</td>
      <td>98</td>
      <td>61</td>
      <td>12</td>
      <td>7</td>
    </tr>
    <tr>
      <th>dog</th>
      <td>18</td>
      <td>10</td>
      <td>95</td>
      <td>72</td>
      <td>93</td>
      <td>513</td>
      <td>91</td>
      <td>78</td>
      <td>17</td>
      <td>13</td>
    </tr>
    <tr>
      <th>frog</th>
      <td>5</td>
      <td>11</td>
      <td>48</td>
      <td>6</td>
      <td>46</td>
      <td>8</td>
      <td>859</td>
      <td>11</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>horse</th>
      <td>26</td>
      <td>8</td>
      <td>49</td>
      <td>11</td>
      <td>74</td>
      <td>23</td>
      <td>32</td>
      <td>764</td>
      <td>3</td>
      <td>10</td>
    </tr>
    <tr>
      <th>ship</th>
      <td>95</td>
      <td>67</td>
      <td>19</td>
      <td>2</td>
      <td>12</td>
      <td>6</td>
      <td>10</td>
      <td>7</td>
      <td>758</td>
      <td>24</td>
    </tr>
    <tr>
      <th>truck</th>
      <td>54</td>
      <td>121</td>
      <td>7</td>
      <td>3</td>
      <td>14</td>
      <td>1</td>
      <td>33</td>
      <td>14</td>
      <td>40</td>
      <td>713</td>
    </tr>
  </tbody>
</table>